@charset "utf-8";

.evidence-list {
  --base-evidence-spacing: 1.25em;
  --horizontal-evidence-spacing: var(--base-evidence-spacing);
  --vertical-evidence-spacing: var(--base-evidence-spacing);

  margin:
    calc(2 * var(--base-evidence-spacing) - var(--vertical-evidence-spacing))
    calc(-1 * var(--horizontal-evidence-spacing));
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.evidence {
  --evidence-highlight-colour: transparent;
  --evidence-faded-highlight-colour: transparent;

  width: 16em; /* Workaround: WebKit max-content ignores flex-basis */
  flex: 0 0 16em;
  height: 5em;

  margin: var(--vertical-evidence-spacing) var(--horizontal-evidence-spacing);
  padding: 1em;
  border-radius: 2.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  cursor: pointer;

  box-shadow:
    /* neon glow */
    inset 0 0 1.5em -.5em var(--evidence-highlight-colour),
          0 0 1.5em 0 var(--evidence-highlight-colour),
    /* extrusion */
          .5em .5em 1.5em
            var(--dark-shadow-spread-offset)
            var(--dark-shadow-colour),
          -.5em -.5em 1.5em
            var(--light-shadow-spread-offset)
            var(--light-shadow-colour)
  ;
}

.evidence-list--compact .evidence {
  width: 5em; /* Workaround: WebKit max-content ignores flex-basis */
  flex-basis: 5em;
}

.evidence-list--compact .evidence__name {
  display: none;
}

.evidence--selected, .evidence--no {
  border: .15em solid var(--evidence-faded-highlight-colour);
}

.evidence--selected {
  --evidence-highlight-colour: var(--green);
  --evidence-faded-highlight-colour: var(--faded-green);
  box-shadow:
    /* neon glow */
    inset 0 0 1.5em -.5em var(--evidence-highlight-colour),
          0 0 1.5em 0 var(--evidence-highlight-colour),
    /* pressed */
    inset .5em .5em 2em
            calc(var(--dark-shadow-spread-offset) - .75em)
            var(--dark-shadow-colour),
    inset -.5em -.5em 2em
            calc(var(--light-shadow-spread-offset) - .75em)
            var(--light-shadow-colour)
  ;
}

.evidence--no {
  --evidence-highlight-colour: var(--red);
  --evidence-faded-highlight-colour: var(--faded-red);
  pointer-events: none;
}

.evidence__icon {
  font-size: 2em;
}

.evidence__name {
  margin-left: .3em;
}

@media screen and (min-width: 480px) { /* 16px * 4*(5rem + 1.25rem*2) == 480 */
  .evidence-list--compact {
    --vertical-evidence-spacing: .7475em; /* lattice */
  }
}
