@charset "utf-8";

.settings-toggle-container {
  height: 0;
  margin: 0 -1.25em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: visible;
}

.settings-toggle {
  width: 1em;
  flex: 0 0 1em;
  padding: .45em .9em;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.settings-toggle:first-child {
  padding-top: .9em;
}

.settings-toggle:last-child {
  padding-bottom: .9em;
}

#themeToggle::before {
  content: "light_mode";
}

#themeToggle.settings-toggle--toggled::before {
  content: "dark_mode";
}

#compactToggle::before {
  content: "drag_handle";
}

#compactToggle.settings-toggle--toggled::before {
  content: "more_horiz";
}
