html {
    font-family: 'Kiwi Maru', serif;
    background-color: #15152b;
}

h1 {
    color: #681d68;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.evidence {
    margin-top: 5rem;
    font-size: 0.9rem;
    display: flex;
    height: 5rem;
    width: 20rem;
    background-color: #1e1e3f;
    border-radius: 60px;
    background: linear-gradient(145deg, #0b0b17, #0d0d1c);
    box-shadow:  20px 20px 26px #06060e,
                 -20px -20px 26px #121226;
    color: #a562c7;
}

.evidence:hover {
    background-color: #a562c7;
    border-radius: 60px;
    background: #0c0c1a;
    box-shadow: inset 14px 14px 32px #06060e,
                inset -14px -14px 32px #121226;
    color: #a562c7d0;
}


.evidence img {
    width: 5rem;
    height: 5rem;
    padding-right: 1rem;
}

.content, .content h2, .content p{
    margin: 0.2em 0 0.2em 0;
    width: 15rem;
    padding: 0;
}

#ghostList {
    padding-top: 2rem;
    color: darkgray;
}
